<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}" lang="pl">
<head>
    <meta charset="UTF-8">
    <script src="/js/boatValidation.js"></script>
</head>
<body>
<section layout:fragment="content" class="offers-section">
    <h2>Dodaj łódź</h2>
    <form th:action="@{/boats/add}" th:object="${boat}" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
        <div th:replace="~{boats/fragments/form :: boatFormFields(${boat})}"></div>
        <div class="buttons">
            <button type="button" onclick="window.history.back()" class="button btn-grey">Wróć</button>
            <input type="submit" value="Dodaj łódź" class="button btn-blue"/>
        </div>
    </form>
</section>
</body>
</html>
