<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml"  lang="pl">
<head>
  <script src="/js/successAlertTimeout.js"></script>
</head>
<body>
<section layout:fragment="content" class="main-section">
  <h2>Lista łódek</h2>
  <div th:if="${successMessage}" class="alert alert-green" id="successAlert" th:text="${successMessage}"></div>
  <table class="table table-hover">
    <thead class="thead-dark">
    <tr>
      <th>Zdjęcie</th>
      <th>Nazwa</th>
      <th>Typ</th>
      <th>Model</th>
      <th>Max. liczba osób</th>
      <th>Liczba kabin</th>
      <th>Rok produkcji</th>
      <th>Moc silnika (KM)</th>
      <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="boat : ${boats}">
      <td><img th:src="@{'/boats/image/' + ${boat.id}}" alt="Obraz łodzi" style="width:100px;height:auto;"/></td>
      <td th:text="${#strings.length(boat.name) > 15 ? #strings.substring(boat.name, 0, 15) + '...' : boat.name}"></td>
      <td th:text="${boat.type.name() == 'SAILBOAT' ? 'Żaglowy' : 'Motorowy'}"></td>
      <td th:text="${#strings.length(boat.model) > 15 ? #strings.substring(boat.model, 0, 15) + '...' : boat.model}"></td>
      <td th:text="${boat.maxHeadcount}"></td>
      <td th:text="${boat.cabinsNumber}"></td>
      <td th:text="${boat.prodYear}"></td>
      <td th:text="${boat.enginePower}"></td>
      <td>
        <div>
          <form th:action="@{/boats/delete/{id}(id=${boat.id})}" method="post">
            <a th:href="@{/boats/update/{id}(id=${boat.id})}" class="button btn-blue">Edytuj</a>
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit" class="button btn-red" onclick="return confirm('Czy na pewno chcesz usunąć tę łódkę?')">Usuń</button>
          </form>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="buttons">
    <a th:if="${T(com.example.sailboatsapp.security.SecurityUtils).hasRole(T(org.springframework.security.core.context.SecurityContextHolder).context.authentication, 'OWNER')}"
       th:href="@{/boats/add}" class="button btn-green">Dodaj nową łódkę</a>
  </div>
</section>
</body>
</html>
