<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" lang="pl">
<head>
    <meta charset="UTF-8">
    <script>
        function toggleCompanyFields() {
            var isCompanySelected = document.getElementById("isCompany").value === 'true';
            var companyFields = document.getElementById("companyFields").querySelectorAll('input, select, textarea');

            for (var i = 0; i < companyFields.length; i++) {
                companyFields[i].disabled = !isCompanySelected;
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            toggleCompanyFields();
            document.getElementById("isCompany").onchange = toggleCompanyFields;
        });

        window.onload = function() {
            toggleCompanyFields();
        };
    </script>
    <script src="/js/successAlertTimeout.js"></script>
</head>
<body>
<main>
    <section layout:fragment="content" class="offers-section">
        <h2>Dane użytkownika</h2>
        <div th:if="${successMessage}" class="alert alert-green" id="successAlert" th:text="${successMessage}"></div>
        <form id="userForm" th:action="@{/account/update}" th:object="${user}" method="post">
            <div class="form-group">
                <label for="username">Nazwa użytkownika:</label>
                <input type="text" id="username" th:field="*{username}" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="text" id="email" th:field="*{email}" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label>Rola:</label>
                <input type="text" th:attr="value=${role == 'OWNER' ? 'Wynajmujący' : role == 'USER' ? 'Najemca' : 'Admin'}" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label for="name">Imię:</label>
                <input type="text" id="name" th:field="*{name}" class="form-control" required/>
                <div th:if="${#fields.hasErrors('name')}" class="alert alert-red" th:errors="*{name}"></div>
            </div>
            <div class="form-group">
                <label for="surname">Nazwisko:</label>
                <input type="text" id="surname" th:field="*{surname}" class="form-control" required/>
                <div th:if="${#fields.hasErrors('surname')}" class="alert alert-red" th:errors="*{surname}"></div>
            </div>
            <div class="form-group">
                <label for="phoneNumber">Numer telefonu:</label>
                <input type="text" id="phoneNumber" th:field="*{phoneNumber}" class="form-control" required/>
                <div th:if="${#fields.hasErrors('phoneNumber')}" class="alert alert-red" th:errors="*{phoneNumber}"></div>
            </div>
            <div class="form-group">
                <label for="isCompany">Czy firma:</label>
                <select id="isCompany" th:field="*{isCompany}" class="form-control" onchange="toggleCompanyFields()">
                    <option value="true">Tak</option>
                    <option value="false">Nie</option>
                </select>
            </div>

            <div id="companyFields">
                <div class="form-group">
                    <label for="companyName">Nazwa firmy:</label>
                    <input type="text" id="companyName" th:field="*{companyName}" class="form-control"/>
                    <div th:if="${#fields.hasErrors('companyName')}" class="alert alert-red" th:errors="*{companyName}"></div>
                </div>
                <div class="form-group">
                    <label for="tin">NIP:</label>
                    <input type="text" id="tin" th:field="*{tin}" class="form-control"/>
                    <div th:if="${#fields.hasErrors('tin')}" class="alert alert-red" th:errors="*{tin}"></div>
                </div>
                <div class="form-group">
                    <label for="address">Adres:</label>
                    <input type="text" id="address" th:field="*{address}" class="form-control"/>
                    <div th:if="${#fields.hasErrors('address')}" class="alert alert-red" th:errors="*{address}"></div>
                </div>
            </div>
            <div class="buttons">
                <button type="submit" form="userForm" class="button btn-blue">Zapisz zmiany</button>
                <a href="account/change-password" class="button btn-grey">Zmień hasło</a>
                <button type="submit" form="deleteForm" class="button btn-red" onclick="return confirm('Czy na pewno chcesz usunąć swoje konto?')">Usuń konto</button>
            </div>
        </form>
        <form id="deleteForm" th:action="@{/account/delete}" method="post">
            <input type="hidden" name="_method" value="DELETE"/>
        </form>
    </section>
</main>
</body>
</html>
