<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Zmiana hasła</title>
    <script>
        function goBack() {
            window.history.back();
        }
        function validatePassword() {
            var newPassword = document.getElementById("newPassword").value;
            var confirmPassword = document.getElementById("confirmPassword").value;
            if (newPassword !== confirmPassword) {
                alert("Hasła nie są identyczne.");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
<main>
    <section layout:fragment="content" class="offers-section">
        <h2>Zmiana hasła</h2>
        <form th:action="@{/account/change-password}" method="post" onsubmit="return validatePassword()">
            <div class="form-group">
                <label for="newPassword">Nowe hasło:</label>
                <input type="password" id="newPassword" name="newPassword" class="form-control" minlength="8"
                       maxlength="30" required/>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Powtórz nowe hasło:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required/>
            </div>
            <button type="button" onclick="goBack()" class="btn btn-secondary">Wróć</button>
            <button type="submit" class="btn btn-primary">Zmień hasło</button>
        </form>
    </section>
</main>
</body>
</html>
