<!DOCTYPE html>
<html lang="pl" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="/js/successAlertTimeout.js"></script>
</head>
<body>
<section layout:fragment="content" class="offers-section">
    <h2>Lista użytkowników</h2>
    <div th:if="${successMessage}" class="alert alert-green" id="successAlert" th:text="${successMessage}"></div>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Numer telefonu</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td>
                <div>
                    <form th:action="@{/account/delete/{id}(id=${user.id})}" method="post">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <button type="submit" class="button btn-sm btn-red"
                                onclick="return confirm('Czy na pewno chcesz usunąć użytkownika?')">Usuń
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>
