body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex; /* Ustawienie flexbox dla elementu body */
    flex-direction: column; /* Ustawienie kierunku flexbox na pionowy */
    flex: 1 0 auto;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1; /* Pozwoli na wypełnienie dostępnym miejscem między nagłówkiem a stopką */
}


header {
    background-color: #f4f4f4;
    padding: 10px 0;
}

nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    height: 50px; /* Adjust as per your logo's aspect ratio */
}

.search-section {
    background-color: #e9e9e9;
    padding: 20px;
    text-align: center;
}

.offers-section {
    padding: 20px;
}

.offers-section .offer {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.offers-section .offer img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}
