<!DOCTYPE html>
<html lang="pl" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/images/favicon.ico">
</head>
<body>
<main>
    <section layout:fragment="content" class="main-section">
        <section class="search-section">
            <h1>Najtańsze czartery! Rezerwuj bezpiecznie online!</h1>
        </section>
        <div th:each="offer : ${offers}" class="offer">
            <img th:src="@{'boats/image/' + ${offer.boat.id}}" alt="Obraz łodzi" style="width:200px;height:auto;"/>
            <div class="offer-details">
                <h3 th:text="${offer.boat.name}">Nazwa Jachtu</h3>
                <p th:text="${offer.description}">Opis oferty...</p>
                <p>Cena: <span class="price" th:text="${offer.price}">Cena</span></p>
                <p>Termin: <span th:text="${offer.startDate} + ' - ' + ${offer.endDate}">Termin</span></p>
                <p>Właściciel: <span th:text="${offer.owner.username}">Właściciel</span></p>
            </div>
            <a th:href="@{/offers/show/{id}(id=${offer.id})}">
                <button type="button" class="offer-button">Zobacz ofertę</button>
            </a>
        </div>
    </section>
</main>
</body>
</html>
