<!DOCTYPE html>
<html lang="pl" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
<main>
    <section layout:fragment="content" class="offers-section">
        <section class="search-section">
            <h1>Najtańsze czartery! Rezerwuj bezpiecznie online!</h1>
        </section>
        <h2>Dostępne oferty</h2>
        <div th:each="offer : ${offers}" class="offer">
            <h3 th:text="${offer.boat.name}">Nazwa Jachtu</h3>
            <p th:text="${offer.description}">Opis oferty...</p>
            <p>Cena: <span th:text="${offer.price}">Cena</span></p>
            <a th:href="@{/offers/{id}(id=${offer.id})}">
                <button type="button">Zobacz ofertę</button>
            </a>
        </div>
    </section>
</main>
</body>
</html>
