<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>BoroJacht</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/png" href="/images/favicon.ico">
</head>
<body>
<header>
    <nav class="navbar">
        <div id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Strona główna</a>
                </li>
                <li th:if="${T(com.example.sailboatsapp.security.SecurityUtils).hasRole(T(org.springframework.security.core.context.SecurityContextHolder).context.authentication, 'ADMIN')}">
                    <a class="nav-link" href="/account/all">Użytkownicy</a>
                </li>
                <li th:if="${T(com.example.sailboatsapp.security.SecurityUtils).hasRole(T(org.springframework.security.core.context.SecurityContextHolder).context.authentication, 'ADMIN')}">
                    <a class="nav-link" href="/boats/all">Jachty</a>
                </li>
                <li th:if="${T(com.example.sailboatsapp.security.SecurityUtils).hasRole(T(org.springframework.security.core.context.SecurityContextHolder).context.authentication, 'ADMIN')}">
                    <a class="nav-link" href="/offers/all">Oferty</a>
                </li>

                <li th:if="${T(com.example.sailboatsapp.security.SecurityUtils).hasRole(T(org.springframework.security.core.context.SecurityContextHolder).context.authentication, 'OWNER')}">
                    <a class="nav-link" href="/boats">Moje jachty</a>
                </li>
                <li th:if="${T(com.example.sailboatsapp.security.SecurityUtils).hasRole(T(org.springframework.security.core.context.SecurityContextHolder).context.authentication, 'OWNER')}">
                    <a class="nav-link" href="/offers">Moje oferty</a>
                </li>
                <li th:if="${T(com.example.sailboatsapp.security.SecurityUtils).hasRole(T(org.springframework.security.core.context.SecurityContextHolder).context.authentication, 'OWNER')}">
                    <a class="nav-link" href="/reservations/hosted">Moje rezerwacje</a>
                </li>


                <li th:if="${T(com.example.sailboatsapp.security.SecurityUtils).hasRole(T(org.springframework.security.core.context.SecurityContextHolder).context.authentication, 'USER')}">
                    <a class="nav-link" href="/reservations/booked">Moje rezerwacje</a>
                </li>

                <li class="nav-item dropdown" th:if="${T(org.springframework.security.core.context.SecurityContextHolder).context.authentication.principal != 'anonymousUser'}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       th:text="${T(org.springframework.security.core.context.SecurityContextHolder).context.authentication.principal.username}">
                        Nazwa użytkownika
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/account">Konto</a>
                        <form action="/logout" method="post" class="dropdown-item">
                            <input type="submit" value="Wyloguj się" style="border: none; background: none; padding: 0; margin: 0; cursor: pointer;">
                        </form>
                    </div>
                </li>
                <li class="nav-item" th:if="${T(org.springframework.security.core.context.SecurityContextHolder).context.authentication.principal == 'anonymousUser'}">
                    <a class="nav-link" href="/auth/login">Zaloguj się</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <section layout:fragment="content">
    </section>
</main>
<footer>
    <p>© 2024 BoroJacht. Wszelkie prawa zastrzeżone.</p>
</footer>
<script src="/js/scripts.js"></script>
</body>
</html>
