<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml"  lang="pl">
<head>
  <title>Potwierdzenie rejestracji</title>
</head>
<body>
<section layout:fragment="content">
<h1>Potwierdź swój kod</h1>
<form th:action="@{/auth/confirm}" method="post">
  <div>
    <label for="confirmationCode">Kod potwierdzający:</label>
    <input type="text" id="confirmationCode" name="confirmationCode" required />
  </div>
  <div>
    <input type="submit" value="Potwierdź" />
  </div>
</form>
<div th:if="${message}" th:text="${message}"></div>
</section>
</body>
</html>
