<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" lang="pl">
<head>
    <title>Wprowadź kod resetowania</title>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            var newPassword = document.getElementById("newPassword");
            var confirmPassword = document.getElementById("confirmPassword");
            var validationMessage = document.getElementById("validationMessage");

            function validatePassword() {
                if (newPassword.value !== confirmPassword.value) {
                    validationMessage.textContent = "Hasła nie są identyczne.";
                } else {
                    validationMessage.textContent = "";
                }
            }

            newPassword.addEventListener("keyup", validatePassword);
            confirmPassword.addEventListener("keyup", validatePassword);
        });

        function validatePassword() {
            var newPassword = document.getElementById("newPassword").value;
            var confirmPassword = document.getElementById("confirmPassword").value;

            if (newPassword !== confirmPassword) {
                alert("Hasła nie są identyczne.");
                return false;
            }
            return true;
        }

        function goBack() {
            window.history.back();
        }

        window.onload = function() {
            var successAlert = document.getElementById("successAlert");
            if (successAlert) {
                setTimeout(function() {
                    successAlert.style.display = 'none';
                }, 5000);
            }
        };
    </script>
</head>
<body>
<section layout:fragment="content" class="offers-section">
    <h2>Wprowadź kod resetowania hasła</h2>
    <form th:action="@{/auth/reset-password}" method="post" onsubmit="return validatePassword()" class="offers-section">
        <div th:if="${message}" class="alert alert-success" id="successAlert" th:text="${message}"></div>
        <div class="form-group">
            <label for="resetCode">Kod resetowania:</label>
            <input type="text" id="resetCode" name="resetCode" class="form-control" required />
        </div>
        <div th:if="${error}" id="errorAlert" class="alert alert-danger" th:text="${error}"></div>
        <div class="form-group">
            <label for="newPassword">Nowe hasło:</label>
            <input type="password" id="newPassword" name="newPassword" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="confirmPassword">Potwierdź nowe hasło:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required />
        </div>
        <div id="validationMessage" style="color: red;"></div>
        <div>
            <button type="button" onclick="goBack()" class="btn btn-secondary">Wróć</button>
            <input type="submit" value="Zresetuj hasło" class="btn btn-primary"/>
        </div>
    </form>
</section>
</body>
</html>
