<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="/js/successAlertTimeout.js"></script>
</head>
<body>
<section layout:fragment="content" class="offers-section">
  <h2>Moje rezerwacje</h2>
  <div th:if="${successMessage}" class="alert alert-success" id="successAlert" th:text="${successMessage}"></div>
  <table class="table table-hover">
    <thead class="thead-dark">
    <tr>
      <th>Numer oferty</th>
      <th>Nazwa Łodzi</th>
      <th>Data rozpoczęcia</th>
      <th>Data zakończenia</th>
      <th>Wynajmujący</th>
      <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reservation : ${reservations}">
      <td th:text="${reservation.offer.id}"></td>
      <td th:text="${reservation.offer.boat.name}"></td>
      <td th:text="${reservation.offer.startDate}"></td>
      <td th:text="${reservation.offer.endDate}"></td>
      <td th:text="${reservation.landlord.username}"></td>
      <td>
        <a th:href="@{/offers/show/{id}(id=${reservation.offer.id})}" class="btn btn-sm btn-primary">Zobacz szczegóły</a>
        <form th:action="@{/reservations/cancel/{id}(id=${reservation.id})}" method="post" class="d-inline">
          <input type="hidden" name="_method" value="DELETE" />
          <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Czy na pewno chcesz anulować rezerwację?')">Anuluj rezerwację</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
