<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <script src="/js/successAlertTimeout.js"></script>
</head>
<body>
<section layout:fragment="content" class="offers-section">
  <h2>Moje rezerwacje</h2>
  <div th:if="${successMessage}" class="alert alert-green" id="successAlert" th:text="${successMessage}"></div>
  <table class="table table-hover">
    <thead class="thead-dark">
    <tr>
      <th>Numer oferty</th>
      <th>Nazwa Łodzi</th>
      <th>Data rozpoczęcia</th>
      <th>Data zakończenia</th>
      <th>Najemca</th>
      <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reservation : ${reservations}">
      <td th:text="${reservation.offer.id}"></td>
      <td th:text="${reservation.offer.boat.name}"></td>
      <td th:text="${reservation.offer.startDate}"></td>
      <td th:text="${reservation.offer.endDate}"></td>
      <td th:text="${reservation.tenant.username}"></td>
      <td>
        <a th:href="@{/offers/show/{id}(id=${reservation.offer.id})}" class="button btn-sm btn-blue">Zobacz szczegóły</a>
        <form th:action="@{/reservations/delete/{id}(id=${reservation.id})}" method="post" class="d-inline">
          <input type="hidden" name="_method" value="DELETE" />
          <button type="submit" class="button btn-sm btn-red" onclick="return confirm('Czy na pewno chcesz usunąć rezerwację?')">Usuń rezerwację</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</section>
</body>
</html>
