<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
</head>
<body>
<section layout:fragment="content">
  <h1>Moje rezerwacje</h1>
  <table>
    <thead>
    <tr>
      <th>ID Rezerwacji</th>
      <th>Nazwa Łodzi</th>
      <th>Data rozpoczęcia</th>
      <th>Data zakończenia</th>
      <th>Imię najemcy</th>
      <th>Imię wynajmującego</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reservation : ${reservations}">
      <td th:text="${reservation.id}"></td>
      <td th:text="${reservation.offer.boat.name}"></td>
      <td th:text="${reservation.offer.startDate}"></td>
      <td th:text="${reservation.offer.endDate}"></td>
      <td th:text="${reservation.tenant.name}"></td>
      <td th:text="${reservation.landlord.name}"></td>
    </tr>
    </tbody>
  </table>
</section>
</body>
</html>
