<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" lang="pl">
<head>
  <script src="/js/errorAlertTimeout.js"></script>
</head>
<body>
<section layout:fragment="content" class="offers-section">
  <h2>Aktywuj konto</h2>
  <form th:action="@{/auth/confirm}" method="post" class="offers-section">
    <div th:if="${message}" id="successAlert" class="alert alert-success" th:text="${message}"></div>
    <div class="form-group">
      <label for="confirmationCode">Kod aktywujący:</label>
      <input type="text" id="confirmationCode" name="confirmationCode" class="form-control" required />
    </div>
    <div th:if="${error}" id="errorAlert" class="alert alert-danger" th:text="${error}"></div>
    <div>
      <input type="submit" value="Potwierdź" class="btn btn-primary"/>
    </div>
  </form>
</section>
</body>
</html>
