<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" lang="pl">
<head>
    <script>
        function toggleCompanyFields() {
            var isCompanySelected = document.getElementById("isCompany").value === 'true';
            document.getElementById("companyFields").style.display = isCompanySelected ? "block" : "none";
        }
    </script>
    <script src="/js/passwordValidation.js"></script>
</head>
<body onload="toggleCompanyFields()">
<section layout:fragment="content" class="offers-section">
    <h2>Zarejestruj się</h2>
    <form th:action="@{/auth/register}" th:object="${appUser}" method="post" onsubmit="return validatePassword()" class="offers-section">
        <div class="form-group">
            <label for="username">Nazwa użytkownika:</label>
            <input type="text" id="username" th:field="*{username}" class="form-control"
                   pattern="^[^\s]+$" title="Nazwa użytkownika nie może zawierać białych znaków." required />
            <div th:if="${#fields.hasErrors('username')}" class="alert alert-danger" th:errors="*{username}"></div>
        </div>
        <div class="form-group">
            <label for="email">Adres e-mail:</label>
            <input type="email" id="email" th:field="*{email}" class="form-control" />
            <div th:if="${#fields.hasErrors('email')}" class="alert alert-danger" th:errors="*{email}"></div>
        </div>
        <div class="form-group">
            <label for="password">Hasło:</label>
            <input type="password" id="password" th:field="*{password}" class="form-control" minlength="8" maxlength="30" required />
            <div th:if="${#fields.hasErrors('password')}" class="alert alert-danger" th:errors="*{password}"></div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Potwierdź hasło:</label>
            <input type="password" id="confirmPassword" class="form-control" required />
            <div id="validationMessage" style="color: red;"></div>
        </div>
        <div class="form-group">
            <label for="name">Imię:</label>
            <input type="text" id="name" th:field="*{name}" class="form-control" />
            <div th:if="${#fields.hasErrors('name')}" class="alert alert-danger" th:errors="*{name}"></div>
        </div>
        <div class="form-group">
            <label for="surname">Nazwisko:</label>
            <input type="text" id="surname" th:field="*{surname}" class="form-control" />
            <div th:if="${#fields.hasErrors('surname')}" class="alert alert-danger" th:errors="*{surname}"></div>
        </div>
        <div class="form-group">
            <label for="phoneNumber">Numer telefonu:</label>
            <input type="text" id="phoneNumber" th:field="*{phoneNumber}" class="form-control"/>
            <div th:if="${#fields.hasErrors('phoneNumber')}" class="alert alert-danger" th:errors="*{phoneNumber}">Phone Number Error</div>
        </div>
        <div class="form-group">
            <label for="role">Rola:</label>
            <select id="role" name="role" class="form-control">
                <option value="USER">Najemca</option>
                <option value="OWNER">Wynajmujący</option>
            </select>
        </div>
        <div class="form-group">
            <label for="isCompany">Czy firma:</label>
            <select id="isCompany" th:field="*{isCompany}" class="form-control" onchange="toggleCompanyFields()">
                <option value="false">Nie</option>
                <option value="true">Tak</option>
            </select>
        </div>
        <div id="companyFields" style="display:none;">
            <div class="form-group">
                <label for="companyName">Nazwa firmy:</label>
                <input type="text" id="companyName" th:field="*{companyName}" class="form-control" />
                <div th:if="${#fields.hasErrors('companyName')}" class="alert alert-danger" th:errors="*{companyName}"></div>
            </div>
            <div class="form-group">
                <label for="tin">NIP:</label>
                <input type="text" id="tin" th:field="*{tin}" class="form-control" />
                <div th:if="${#fields.hasErrors('tin')}" class="alert alert-danger" th:errors="*{tin}"></div>
            </div>
            <div class="form-group">
                <label for="address">Adres:</label>
                <input type="text" id="address" th:field="*{address}" class="form-control" />
                <div th:if="${#fields.hasErrors('address')}" class="alert alert-danger" th:errors="*{address}"></div>
            </div>
        </div>
        <div>
            <button type="button" onclick="window.history.back()" class="btn btn-secondary">Wróć</button>
            <input type="submit" value="Zarejestruj się" class="btn btn-primary" />
        </div>
    </form>
</section>
</body>
</html>
