<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" lang="pl">
<head>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <script src="/js/errorAlertTimeout.js"></script>
</head>
<body>
<section layout:fragment="content" class="offers-section">
    <h2>Zresetuj hasło</h2>
    <form th:action="@{/auth/request-reset-password}" method="post" class="offers-section">
        <div class="form-group">
            <label for="email">Adres E-mail:</label>
            <input type="email" id="email" name="email" class="form-control" required/>
        </div>
        <div th:if="${error}" id="errorAlert" class="alert alert-danger" th:text="${error}"></div>
        <div>
            <button type="button" onclick="goBack()" class="btn btn-secondary">Wróć</button>
            <input type="submit" value="Zresetuj hasło" class="btn btn-primary"/>
        </div>
    </form>
</section>
</body>
</html>
