<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" lang="pl">
<head>
    <meta charset="UTF-8">
    <script src="/js/offerValidation.js"></script>
</head>
<body>
<section layout:fragment="content" class="offers-section">
    <h2>Dodaj ofertę</h2>
    <form th:action="@{/offers/new}" th:object="${offer}" method="post" onsubmit="return validateIntegerFields()">
        <div th:replace="~{offers/fragments/form :: formFields(${offer}, ${userBoats})}"></div>
        <div class="buttons">
            <button type="button" onclick="window.history.back()" class="button btn-grey">Wróć</button>
            <input type="submit" value="Dodaj ofertę" class="button btn-blue"/>
        </div>
    </form>
</section>
</body>
</html>
