<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" lang="pl">
<head>
  <meta charset="UTF-8">
  <script src="/js/offerValidation.js"></script>
</head>
<body>
<main>
  <section layout:fragment="content" class="offers-section">
    <h2>Edycja oferty</h2>
    <form id="editOfferForm" th:action="@{/offers/update/{id}(id=${offer.id})}" th:object="${offer}" method="post" onsubmit="return validateIntegerFields()">
      <div th:replace="~{offers/fragments/form :: formFields(${offer}, ${userBoats})}"></div>
      <div class="buttons">
        <button type="button" onclick="window.history.back()" class="button btn-grey">Wróć</button>
        <button type="submit" class="button btn-blue">Zapisz zmiany</button>
      </div>
    </form>
  </section>
</main>
</body>
</html>
