<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Utwórz nową ofertę</title>
  <script type="text/javascript">
    function validateDates() {
      var startDate = document.getElementById("startDate").value;
      var endDate = document.getElementById("endDate").value;

      if (new Date(startDate) > new Date(endDate)) {
        alert("Data zakończenia nie może być wcześniejsza niż data rozpoczęcia.");
        return false;
      }
      return true;
    }
  </script>
</head>
<body>
<section layout:fragment="content">
<h1>Dodaj ofertę</h1>
<form th:action="@{/offers/new}" th:object="${offer}" method="post" onsubmit="return validateDates()">
  <div>
    <label for="boat">Wybierz łódź:</label>
    <select id="boat" th:field="*{boatId}" required>
      <option value="" th:unless="${userBoats}">Wybierz...</option>
      <option th:each="boat : ${userBoats}"
              th:value="${boat.id}"
              th:text="${boat.name}">Nazwa łodzi</option>
    </select>
  </div>
  <div>
    <label for="port">Port:</label>
    <input type="text" id="port" th:field="*{port}" required />
    <div th:if="${#fields.hasErrors('port')}" th:errors="*{port}"></div>
  </div>
  <div>
    <label for="price">Cena:</label>
    <input type="number" id="price" th:field="*{price}" required />
    <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
  </div>
  <div>
    <label for="deposit">Kaucja:</label>
    <input type="number" id="deposit" th:field="*{deposit}" required />
    <div th:if="${#fields.hasErrors('deposit')}" th:errors="*{deposit}"></div>
  </div>
  <div>
    <label for="startDate">Data rozpoczęcia:</label>
    <input type="date" id="startDate" th:field="*{startDate}" required />
  </div>
  <div>
    <label for="endDate">Data zakończenia:</label>
    <input type="date" id="endDate" th:field="*{endDate}" required />
  </div>
  <div>
    <label for="description">Opis:</label>
    <textarea id="description" th:field="*{description}" required></textarea>
    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
  </div>
  <div>
    <input type="submit" value="Dodaj ofertę" />
  </div>
</form>
</section>
</body>
</html>
